{% extends 'base.html.twig' %}


{% block header %}
    <h3>Création d'un nouveau compte</h3>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}