{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('jsmaps/jsmaps.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/main/index.css?noCache='~random(9999)) }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {# https://jsmaps.io/europe/javascript-map-france-departments/ #}
    {{ parent() }}

    <script src="{{ asset('jsmaps/jsmaps-libs.js') }}"></script>
    <script src="{{ asset('jsmaps/jsmaps-panzoom.js') }}"></script>
    <script src="{{ asset('jsmaps/jsmaps.min.js') }}"></script>
    <script src="{{ asset('maps/franceDepartements.js') }}"></script>

    <script src="{{ asset('js/main/index.js?noCache='~random(9999)) }}"></script>

{% endblock %}


{% block body %}
    contenu page accueil


    {# search panel #}
    {% include('components/_search.html.twig') %}
    {# carte - selection auto #}
    {# proposition d'annonces #}

    <div class="jsmaps-wrapper" id="franceDepartements-map"></div>
{% endblock %}