<div id="search">

    {{ form_start(formSearch, {attr: {action: path('ad_index'), novalidate: 'novalidate'}}) }}

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-5">
                {{ form_row(formSearch.q) }}
            </div>
            <div class="col-1">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
                <input type="submit" hidden />
            </div>
        </div>


        {#popup recherche avancee#}
        <div style="display:none;">
            {{ form_row(formSearch.title) }}
            {{ form_row(formSearch.description) }}
            {{ form_row(formSearch.city) }}
            {{ form_row(formSearch.price) }}

            {{ form_row(formSearch.pageCurrent) }}
            {{ form_row(formSearch.pageCount) }}
        </div>

    {{ form_end(formSearch) }}


</div>
